.content-about-0 {
    background-color: grey;
}

.content-about {
    height : 400px;
    width:100%;
}

.content-about-1 {
    background-color: green;
}

.content-about-2 {
    background-color : red;
}

.content-about-3 {
    background-color : yellow;
}

.content-about-4 {
    background-color : blue;
}