.class1 {
    width : 200px;
    height : 500px;
    background-color: red;
    .class2 {
        height : 10px;
        width : 100%;
        background-color: yellow;
    }
    .class3 {
        height : 20px;
        width : 100%;
        background-color : blue;
    }
}