#home {
    background : linear-gradient(90deg, #3a47d5 -71%, #00d2ff 49%, #3a47d5 220%);
    user-select: none;
    .content-home {
        width:100%;
        .speech-text {
            top: 30px;
            left: 0;
            /* right: 0; */
            bottom: 0;
            width: 84%;
            /* margin: auto; */
            height: 60%;
            font-size: 1.7vw;
            text-align: center;
        } 
        .character-container {
            width: 50%;
            position: relative;
            @media only screen and(max-width: 768px) {
                width: 100%;
            }
            #character-home {
                position: absolute;
                bottom:0px;
            }
            .speech-bubble-container {
                position: absolute;
                top:70px;
                .speech-bubble {
                    .speech-bubble-2 {
                        display: block;
                        @media only screen and (max-width: 768px) {
                            display: none;
                        }
                    }
                    .speech-bubble-3 {
                        display: none;
                        @media only screen and (max-width: 768px) {
                            display: block;
                        }
                    }
                }
            }
        }
        &:hover {
            cursor:pointer;
        }
    }

    .speech-text-center {
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        width:100%;
        margin:auto;
    }
}
    